---
import type { GetStaticPaths } from 'astro'
import Layout from '@/layouts/Layout.astro'
import { leagues } from '@/utils/data/leagues'
import '@/styles/globals.css'

export const prerender = true

export const getStaticPaths: GetStaticPaths = async () => {
  return leagues.map((league) => ({
    params: { slug: league.slug },
    props: { name: league.name }
  }))
}

const { name } = Astro.props
---

<Layout title={name as string}>
  <section class='flex justify-between items-center flex-wrap'>
    <article><h1>TOP ASSIST</h1></article>
    <article>
      <h1>TOP GOALS</h1>
    </article>
    <article>
      <h1>TOP TRACKLES</h1>
    </article>
  </section>

  <section class='grid md:grid-cols-3 gap-4 grid-rows-3'>
    <article class='md:col-span-2 bg-gray-300'>
      <h1>TABELA</h1>
    </article>

    <article class='md:col-span-1'>
      <h1>UPCOMING MATCHS</h1>
    </article>
  </section>
</Layout>
