---
import type { GetStaticPaths } from 'astro'
import Layout from '@/layouts/Layout.astro'
import { leagues } from '@/utils/data/leagues'
import '@/styles/globals.css'
import { LeagueTable } from '@/components/TableLeague'

export const prerender = true

export const getStaticPaths: GetStaticPaths = async () => {
  return leagues.map((league) => ({
    params: { slug: league.slug },
    props: { name: league.name }
  }))
}

const { name } = Astro.props
---

<Layout title={name as string}>
  <div class='flex justify-between items-center flex-wrap'>
    <article><h1>TOP ASSIST</h1></article>
    <article>
      <h1>TOP GOALS</h1>
    </article>
    <article>
      <h1>TOP TRACKLES</h1>
    </article>
  </div>

  <div class='grid md:grid-cols-3 gap-4'>
    <section class='md:col-span-2'>
      <LeagueTable client:only />
    </section>

    <article class='md:col-span-1'>
      <h1>UPCOMING MATCHS</h1>
    </article>
  </div>
</Layout>
