---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import ThemeButton from '@components/ThemeButton.astro'
import Logo from '@components/Logo.astro'
---

<Layout title='Welcome to Astro.'>
  <p>ALOHA</p>
</Layout>
