---
import { Image } from 'astro:assets'
interface Props {
  title: string
  body: string
  href: string
  srcImage: string
}

const { href, title, body, srcImage } = Astro.props
---

<a
  href={href}
  class='relative p-10 bg-zinc-50 border border-soft-dark dark:bg-hard-dark dark:text-soft-light dark:hover:text-white transition-all duration-300 rounded-lg shadow-md list-none w-full overflow-hidden block hover:border-sky-400 hover:shadow-[0_2px_25px_rgba(5,_150,_105,_0.7)]'
>
  <Image
    src={srcImage}
    alt='Premier League'
    class='rotate-12 block absolute inset-0 -top-8 -left-20 w-48 h-w-48 rounded-full object-cover object-left-top filter grayscale dark:grayscale trasition-all duration-300'
    width={1920}
    height={1080}
  />
  <h2 class='flex justify-end items-end'>
    {title}
    <span>&rarr;</span>
  </h2>
  <!-- <p>
      {body}
    </p> -->
</a>
