---
import Logo from './Logo.astro'
---

<aside
  class='dark:bg-forest-dark bg-accent z-20 w-full max-w-[200px] px-6 py-2 h-screen fixed top-0 left-0'
>
  <div class='flex flex-col justify-start items-center'>
    <Logo />
  </div>
</aside>

<script>
  const sidebar = document.querySelector('#sidebar')
  const btn = document.querySelector('#openSidebar')
  document.addEventListener('click', (e) => {
    console.log('clicou')
    if (
      !sidebar?.contains(e.target as Node) &&
      !btn?.contains(e.target as Node)
    ) {
      sidebar?.classList.remove('translate-x-0')
      sidebar?.classList.add('-translate-x-full')
    }
  })
</script>
