<button id='themeToggle' class='dark:bg-forest-dark'>Change</button>

<script>
  const btn = document.getElementById('themeToggle')
  btn?.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark')
    localStorage.theme = document.documentElement.classList.contains('dark')
      ? 'dark'
      : 'light'
  })
</script>
