---
import OpenSidebarButton from './OpenSidebarButton.astro'
import { Select } from './Select'
import ThemeButton from './ThemeButton.astro'
---

<header
  class='border-b border-zinc-100 dark:border-zinc-800 sticky top-0 left-0'
>
  <div class='px-4 flex justify-between md:justify-end items-center h-14'>
    <div class='md:hidden'>
      <OpenSidebarButton />
    </div>
    <div class='flex gap-2 items-center justify-center'>
      <Select client:only='react' />
      <ThemeButton />
    </div>
  </div>
</header>
