---
import { Select } from './Select'

import ThemeButton from './ThemeButton.astro'
import { Sidebar } from './Sidebar'
const { slug } = Astro.params
const leagueName = slug?.replace('-', ' ').toUpperCase()
---

<header class='sticky top-0 left-0 backdrop-blur-md z-10'>
  <div class='px-6 w-full flex items-center justify-between'>
    <Sidebar client:load />

    <span
      class='px-6 w-full text-sm md:text-lg font-bold text-dark dark:text-ivory'
    >
      {leagueName}
    </span>
    <div class='w-full flex justify-between md:justify-end items-center h-14'>
      <div class='flex gap-x-4 items-center justify-center'>
        <Select client:only />
        <ThemeButton />
      </div>
    </div>
  </div>
</header>
