---
import Layout from '@/layouts/Layout.astro'
import '@/styles/globals.css'
import { UpcomingFixtures } from '@/components/UpcomingFixtures'
import TopCard from '@/components/TopCards/TopCard.astro'
import Table from '@/components/Table/Table.astro'
import {
  getAllRounds,
  getCurrentLeaguetRound
} from '@/lib/api-football/apifootball'
import { leagues } from '@/utils/data/leagues'
const { league } = Astro.params
const leagueID = leagues.find((l) => l.slug === league)?.id

const currentRound = await getCurrentLeaguetRound(2023, leagueID!)
const allRounds = getAllRounds(league as string)
---

<Layout title={league as string}>
  <div
    class='flex justify-center md:justify-between items-center flex-wrap gap-x-4'
  >
    <TopCard
      id='1100'
      team='Manchester City'
      pos='ST'
      name='Earling Haaland'
      link={`/league/${league}/manchester-city/player/1100`}
      title='Top Goals'
      src='https://media.api-sports.io/football/players/1100.png'
    />

    <TopCard
      id='306'
      team='Manchester City'
      pos='ST'
      link={`/league/${league}/liverpool/player/1100`}
      name='Mohamed Salah'
      title='Top Assists'
      src='https://media.api-sports.io/football/players/306.png'
    />

    <TopCard
      id='18968'
      team='Tottenham'
      pos='MC'
      link={`/league/${league}/manchester-city/player/1100`}
      name='Y. Bissouma'
      title='Top Red Cards'
      src='https://media.api-sports.io/football/players/18968.png'
    />
  </div>

  <div class='grid grid-cols-1 md:grid-cols-3 gap-4'>
    <section class='md:col-span-2 space-y-4'>
      <!-- <LeagueTable client:only='react' /> -->
      <div
        class='rounded-xl bg-zinc-100 dark:bg-accent-dark px-6 py-4 space-y-4'
      >
        <Table />
      </div>
    </section>

    <article class='md:col-span-1'>
      <div
        class='rounded-xl bg-zinc-100 dark:bg-accent-dark px-2 md:px-6 py-4 space-y-4'
      >
        <h4 class='text-md md:text-xl font-bold'>Fixtures</h4>
        <div>
          <p hx-get='/fixtures_per_round' hx-trigger='load'>ALOHA</p>
          <ul id='fixturesPerRound'></ul>
        </div>
      </div>
      <!-- <UpcomingFixtures
        client:load
        currentRound={currentRound}
        allRounds={allRounds!}
      /> -->
    </article>
  </div>
</Layout>
