---
interface Props {
  dribbles: {
    attempts: number
    success: number
    past: number | null
  }
}

const { dribbles } = Astro.props
---

<article
  class='w-sm text-pretty rounded-xl bg-zinc-100 dark:bg-accent-dark px-2 py-3 space-y-4'
>
  <h4 class='text-lg md:text-2xl font-bold'>Dribbles</h4>
  <div class='w-full flex flex-col justify-between items-start'>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Attempts</span>
      <span class='text-md md:text-lg'>{dribbles.attempts}</span>
    </div>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Success</span>
      <span class='text-md md:text-lg self-end'>{dribbles.success}</span>
    </div>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Past</span>
      <span class='text-md md:text-lg'>{dribbles.past ? dribbles.past : 0}</span
      >
    </div>
  </div>
</article>
