---
// import { calculateAccuracy } from '@/utils/calculateAccuracy'

interface Props {
  goals: {
    total: number
    conceded: number
    assists: number
    saves: number | null
  }
}

const { goals } = Astro.props
---

<article
  class='w-sm text-pretty rounded-xl bg-zinc-100 dark:bg-accent-dark px-2 py-3 space-y-4'
>
  <h4 class='text-lg md:text-2xl font-bold'>Goals</h4>
  <div class='w-full flex flex-col justify-between items-start'>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Total</span>
      <span class='text-md md:text-lg'>{goals.total}</span>
    </div>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Assists</span>
      <span class='text-md md:text-lg self-end'>{goals.assists}</span>
    </div>
    <div class='w-full flex-1 flex justify-between items-center'>
      <span class='text-sm md:text-md font-semibold'>Conceded</span>
      <span class='text-md md:text-lg'>{goals.conceded}</span>
    </div>
  </div>
</article>
