---

---

<article
  class='w-full rounded-xl bg-zinc-100 dark:bg-accent-dark px-6 py-4 space-y-4'
>
  <h4 class='text-lg md:text-2xl font-bold'>Other Stats</h4>
  <div class='grid'>
    <div class='grid grid-cols-subgrid gap-4 col-span-3'>
      <div class='col-start-1'>Passes</div>
      <div class='col-start-2'>Games</div>
      <div class='col-start-3'>Dribbles</div>
    </div>
    <div class='grid grid-cols-subgrid gap-4 col-span-3'>
      <div class='col-start-1'>Duels</div>
      <div class='col-start-2'>Fouls</div>
      <div class='col-start-3'>Tackles</div>
    </div>
  </div>
</article>
