---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='aa'>
  <h1 class='text-white'>ALOHA</h1>
</Layout>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
